body{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.card{
  width: 15vw;
  height: 10vw;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  background: url(https://picsum.photos/500/500) center no-repeat;
  background-size:cover;
   display:flex;
  justify-content: center;
  align-items: center;
  
}

h1{
  color: white;
  text-shadow: 2px 2px 2px #000;
  
}

.card > button{
  font-size:30px;
  background: dodgerblue;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 1px solid #fff;
  transform: scale(0.8);
  will-change: transform;

}