body{
  background: black;
  font-weight: bold;
}

ul{
  font-size: 30px;
  color: gray;
}
li{
  display: flex;
  align-items: center;
}

.dash{
  width: 15px;
  height: 4px;
  background: #3e3e3e;
  margin-right: 10px;
  opacity:0;
  transform: translateX(10px);
}
